:root {
  --primary-color: #2e5bff;
  --bg-header: #ffffff;
  --bg-subheader: #ffffff;
  --bg-sidebar: #ffffff;
  --bg-sidebar-active: #e1e7ff;
  --bg-card: #ffffff;
  // --bg-content: #f4f6fc;
  --bg-content: #e6ecff;
  --bg-input: #ffff;
  --color-border: #e4e8f0;
  --color-border-form: #eef3fb;
  --color-shadow: #2e5bff26;
  --color-title: #000000;
  --secondary-color: #536390;
  --font-color: #2e384d;
  --font-weigth: 500;
  --heading-color: #292922;
  --card-list-pos: #e6ecff;
}
